header {
    column-span: 100vh;
    height: 100px;
    background-color: chartreuse;
    padding-top: 3%;
    
}


body {
    font-family: Impact;
    font-size: xx-large;
    background-color: turquoise;
    display: flex;
    flex-direction: column;
    justify-content: column;
    text-align: center;
    height: 100vh;
}
    
    

main {
    justify-content: center;
    background: linear-gradient(lightblue, aqua);
    height: 100vh;
    padding-top: 4%;
    
}

section {
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    justify-content: row;
    text-align: center;
    padding-top: 10%;
}

h1 {
    font-family: Arial;
    font-size: small;
}

button {
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}