* {
    font-family: Helvetica, sans-serif
}

p {
font-family: 'helvtica';
font-size: xx-large;
color: aquamarine;
justify-self: center;
padding-top: 10px;
/* outline-width: 2px;
outline-color: black;
unresponsive...
 */
}

body {
    height: 100vh;
    background-image: url(https://i.imgur.com/YaC6IG5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    color: aquamarine;
}

div {
    justify-self: center;
    padding-top: 5vh;
}

.answer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    
}

.answerOne {
    font-family: helvetica;
    border: aquamarine;
    outline-color: black;
}

.answerTwo {
    font-family: helvetica;
    border: aquamarine;
    outline-color: black;
    
  
}


section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

